mat-list-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #eef2f9;
}

.sev-low {
  color: #22c55e;
}

.sev-medium {
  color: #eab308;
}

.sev-high {
  color: #f97316;
}

.sev-critical {
  color: #ef4444;
}
